<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div>
      <div style="padding: 40px 0">
        <div
          style="
            background-color: #f9f9f9;
            border-top: 2px solid #ccc;
            border-bottom: 2px solid #ccc;
            text-align: center;
            padding: 80px 20px;
          ">
          <div
            style="
              width: 273px;
              height: 31px;
              font-weight: 700;
              font-size: 24px;
              line-height: 130%;
              text-align: left;

              color: #000000;
            ">
            [keytrip] 이메일 인증 안내
          </div>
          <br />
          <div
            style="
              width: 390px;
              height: 143px;
              text-align: left;
              font-weight: 400;
              font-size: 16px;
              line-height: 130%;
              color: #000000;
            ">
            <span>안녕하세요. keytrip 입니다.</span>
            <br />
            <br />
            <br />

            <span>회원가입을 위해 본인 확인이 필요합니다. </span>
            <br />
            <span
              >아래 인증번호를 복사한 후 이메일 인증란에 입력해 주세요.
            </span>
          </div>

          <div
            style="
              background-color: #ffffff;
              padding: 30px;
              display: flex;
              flex-direction: column;
              width: 80%;
              margin: auto;
            ">
            <span
              style="
                font-size: 48px;
                line-height: 130%;

                color: #001ece;
              "
              th:text="${code}">
            </span>
            <br />
            <span style="margin-top: 20px">
              인증번호는 2024/08/22 09:10:44 까지 유효합니다.
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
